{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small">
    <div class="container">
        <video autoplay muted loop id="myVideo" style="position: absolute; width: 250%; left: 50%; top: 50%; height: 250%; object-fit: cover; transform: translate(-50%, -50%); z-index: -1;">
            <source src="{% static 'halaman/assets/img/latar7.mp4' %}" type="video/mp4"></video>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">About Us</h1>
                    <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="container">
        <div class="about-description text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h5 class="description">Django adalah sebuah framework web high-level yang ditulis dalam bahasa pemrograman Python, yang mendorong pengembangan cepat dan desain yang bersih serta pragmatis. </h5>
                </div>
            </div>
        </div>
        <div class="about-team team-1">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">We are beginners</h2>
                    <h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="{% static 'halaman/assets/img/faces/wkwk.jpg' %}" />
                            </a>
                        </div>

                        <div class="card-content">
                            <h4 class="card-title">Nur Ade Afriyani</h4>
                            <h6 class="category text-muted">Data scientist</h6>
                            <p class="card-description">
                                Data scientist adalah profesional yang menggunakan keterampilan analitis, pemrograman, dan pemahaman domain untuk mengekstrak wawasan dari data. Mereka memainkan peran kunci dalam mengubah data mentah menjadi informasi yang dapat digunakan untuk pengambilan keputusan strategis.
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="{% static 'halaman/assets/img/faces/avatar.jpg' %}" />
                            </a>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">urafryny</h4>
                            <h6 class="category text-muted">Web Developer</h6>
                            <p class="card-description">
                                Web developer adalah profesional yang bertanggung jawab untuk merancang, membangun, dan memelihara situs web dan aplikasi web. Mereka dapat bekerja di berbagai sektor, termasuk teknologi, e-commerce, media, pendidikan, dan banyak lagi.
                            </p>
                            <div class="footer">
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}