{% extends 'halaman/base.html' %}
{% load static %}

{% block content %}
<div class="page-header header-filter header-small">
    <video autoplay muted loop id="myVideo" style="position: absolute; width: 100%; left: 50%; top: 50%; height: 100%; object-fit: cover; transform: translate(-50%, -50%); z-index: -1;">
        <source src="{% static 'halaman/assets/img/latar8.mp4' %}" type="video/mp4"></video>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">Contact Us</h1>
                    <h4>Please contact us if you want to know more about us</h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="contact-content">
        <div class="container">
            <div class="col text-center">
                <h2 class="title">Send us a message</h2>
            </div>              
            <div class="row">
                <div class="col-12 col-rd-12">
                   <div class="col-md-4">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">pin_drop</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">find us on location</h4>
                            <p> 
                               Perjuangan 7,<br>
                               Samarinda, Kalimantan Timur,<br>
                               Indonesia
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">phone</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Give us a ring</h4>
                            <p> Nur Ade Afriyani <br>
                                +628 9689 **** ** <br>
                                Mon - Fri, 8:00-22:00
                            </p>
                        </div>
                    </div>
                </div> 

                <div class="col-md-4">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons">business_center</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Legal Information</h4>
                            <p> Creative Tim Ltd.<br>
                                VAT &middot; EN2341241<br>
                                IBAN &middot; EN8732ENGB2300099123<br>
                                Bank &middot; Bank Rakyat Indonesia (BRI)
                            </p>
                        </div>
                    </div>
                </div> 
            </div>
           </div>
        </div>
    </div>
</div>
{% endblock %}