{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nur Ade Afriyani</title>
    <link rel="stylesheet" href="{% static 'halaman/assets/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Nur Ade Afriyani</a>
            </div>

            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/"><i class="material-icons">apps</i> Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}"><i class="material-icons">dns</i> About </a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}"><i class="material-icons">list</i> Contact </a>
                    </li>
                    <li>
                       {% if user.is_authenticated %}
                          <a href="{% url 'dashboard' %}" class="btn btn-white btn-simple"><i class="material-icons">fingerprint</i> Dashboard </a>
                       {% else %}
                          <a href="{% url 'akun_login' %}">Login</a>
                       {% endif %} 
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Konten lainnya -->

    <!-- Include jQuery dan Bootstrap JavaScript di akhir body -->
    <script src="{% static 'halaman/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'halaman/assets/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('.navbar-toggle').click(function() {
                $('#navigation-example').collapse('toggle');
            });
        });
    </script>
</body>
</html>