{% extends 'dashboard/base.html' %}

{% load static %}

{% block content %}

<div class="content d-flex justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title text-center mb-4">My Profil Pengguna</h2>
        <div class="text-center mb-4">
            <img src="{% static 'halaman/assets/img/faces/wkwk.jpg' %}" alt="Foto Profil" class="rounded-circle" style="width: 150px; height: 150px;">
        </div>
        <form method="POST" class="form-horizontal">
          {% csrf_token %}
          <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title> Biodata </title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <style>
                .profile-header {
                    background-color: #d761f5;
                    color: #000000;
                    padding: 20px;
                    text-align: center;
                }
                .profile-header h2 {
                    margin-bottom: 0;
                }
                .profile-picture {
                    max-width: 150px;
                    border-radius: 50%;
                }
                .info-label {
                    font-weight: arial;
                    text-align: center;
                }
                .motivation-quote {
                    font-style: italic;
                    margin-top: 20px;
                    text-align: center;
                }
            </style>
        </head>
        <body>
            <div class="container mt-5">
                <div class="card">
                    <div class="profile-header">
                        <h2 class="mb-0">Biodata</h2>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row mt-3 justify-content-center">
                                <div class="col-md-4 info-label">NUR ADE AFRIYANI</div>
                            </div>
                            <div class="row mt-3 justify-content-center">
                                <div class="col-md-4 info-label">2211102441080</div>
                            </div>
                            <div class="row mt-3 justify-content-center">
                                <div class="col-md-4 info-label">TEKNIK INFORMATIKA</div>
                            </div>
                            <div class="row mt-3 justify-content-center">
                                <div class="col-md-4 info-label">urafryny_</div>
                            </div>
                            <div class="row mt-3 justify-content-center">
                                <div class="col-md-4 info-label">+629 9689 4834 43</div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-12 motivation-quote">
                                    "Tujuan Pendidikan itu untuk mempertajam kecerdasan, memperkukuh kemauan, serta memperhalus perasaan. (Tan Malaka)."
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
        </body>   
    </div>  
</div>                                                
{% endblock %}